/*公共样式*/
	.hd{
		height: 60px;
		line-height: 60px;
	}
	.hd .title{
		float:left;
		font-size: 22px;
	}
	.hd .more{
		float: right;
		margin-top: 20px;
	}
	.hd .more>span{
		float: left;
		height: 24px;
		line-height: 24px;
		text-align: center;
		box-sizing: border-box;
	}
	.hd .more>span:first-child{
		border-right: none;
		color: #e5e2e0;
	}
	.hd .more>span:last-child{
		color: #b4b0b0;
	}
	.hd .more.view span{
		display: inline-block;
		font-size: 16px;
		color: #424242;
		transition: color 0.2s;
		cursor: pointer;
	}
	.hd .more.view span:hover{
		color:#ff6700;
	}
	.hd .more.view span:hover i{
		background-color: #ff6700
	}
	.hd .more.view span i{
		width: 20px;
		height: 23px;
		border-radius: 50%;
		color: #fff;
		background-color: #b0b0b0;
		text-align: center;
		line-height: 23px;
		margin-left: 5px;
		vertical-align: -1px;
	}
	.hd .more .tab .tab-item{
		float: left;
		margin-left: 30px;
	}
	.hd .more .tab .tab-item a{
		padding-bottom: 4px;
		font-size: 16px;
		color: #424242;
	}
	.hd .more .tab .tab-item.active a{
		color: #ff6700;
		border-bottom: 2px solid #ff6700;
	}
	.hd .more .tab .tab-item a:hover{
		color: #ff6700;
		border-bottom: 2px solid #ff6700;
	}
	.bd .bd-img>div{
		height: 300px;
		margin-bottom: 14px;
	}
	.bd .bd-img>div img{
		width: 100%;
		height: 100%;
	}
	.flag{
		position: absolute;
		top: 0px;
		left: 50%;
		margin-left: -32px;
		width: 64px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		font-size: 12px;
		color: #fff;
	}
	.flag-new{
		background-color: #83c44e;
	}
	.flag-jian{
		background-color: #e53935;
	}
	.product-list .product-item{
		width: 234px;
		margin-left: 14px;
		float:left;
		text-align: center;
		position: relative;
		box-sizing: border-box;
	}
	.product-list .product-item:nth-child(1),.product-list .product-item:nth-child(5){
		margin-left: 0px;
	}
	.product-list .product-item-s{
		height: 143px;
		background-color: #fff;
		margin-left: 0px;
		margin-bottom: 10px;
	}
	.product-list .product-item-s>div{
		float:left;
	}
	.product-list .product-item-s-decs{
		margin-left: 30px;
		margin-top:40px;
		font-size: 12px;
		color: #333;
		text-align: left;
	}
	.product-list .product-item-s-decs p{
		margin-top: 15px;
		color: #ff6700;
	}
	.product-list .product-item-s-more{
		margin-left: 30px;
		margin-top: 40px;
		font-size: 18px;
		color: #333;
		text-align: left;
	}
	.product-list .product-item-s-more p{
		color: #757575;
		font-size: 11px;
	}
	.product-list .product-item-s-img{
		margin-top: 40px;
		margin-left: 40px;
	}
	.product-list .product-item-l{
		height: 340px;
	}
	.product-list .product-item-m{
		height: 300px;
		background-color: #fff;
		margin-bottom: 14px;
	}
	.product-list .product-item-m:hover{
		box-shadow: 0 10px 10px rgba(0,0,0,0.2);
		transform: translateY(-3px);
	}
	.product-list .product-item-m .item-ctr{
		cursor: pointer;
	}
	.product-list .product-item .product-img{
		width: 160px;
		height: 160px;
		margin-top: 50px;
		margin-bottom: 20px;
	}
	.product-list .product-item.product-item-m .product-img{
		margin-top: 34px;
		margin-bottom: 15px;
	}
	.product-list .product-item .product-name{
		width: 190px;
		margin-left: auto;
		margin-right: auto;
		font-size: 13px;
		color: #202020;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		margin-bottom: 10px;
	}
	.product-list .product-item .product-desc{
		color: #adadad;
		font-size: 12px;
		margin-bottom: 20px;
	}
	.product-list .product-item .product-price{
		font-size: 14px;
	}
	.product-list .product-item .product-price span{
		color: #ff6700;
	}
	.product-list .product-item .product-price del{
		color: #adadad;
	}
	.product-list .product-item .mg{
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.02);
		position: relative;
		top: 0;
		left: 0;
	}
	.product-item .comment{
		position: absolute;
		left: 0px;
		bottom: 0px;
		width: 234px;
		height: 0px;
		background-color: #ff6700;
		text-align: left;
		box-sizing: border-box;
		overflow: hidden;
		transition: height 0.3s;
	}
	.product-item:hover .comment{
		height: 78px;
	}
	.product-item .comment .comment-content{
		font-size: 13px;
		color: #fff;
		margin-top: 10px;
		margin-bottom: 10px;
		padding-left: 30px;
		padding-right: 30px;
	}
	.product-item .comment .comment-author{
		color: rgba(255,255,255,0.6);
		font-size: 12px;
		padding-left: 30px;
		padding-right: 30px;
	}
	.ad{
		height: 120px;
		margin-top: 42px;
	}
	.ad a img{
		width: 100%;
		height: 100%;
	}
/* 部分1开始 */
	.top{
		height: 34px;
		background-color: #333;
		}
		.top .top-nav{
			float: left;
			width: 680px;
			height: 34px;
			font-color: #b0b0b0;
		}
		.top .top-nav .nav-list li{
			float: left;
			line-height: 34px;
		}
		.top .user-info{
			float: right;
			width: 155px;
			height: 34px;
		}
		.top .cart{
			float: right;
			width: 120px;
			height: 34px;
			background-color: #424242;
			color: #b0b0b0;
			line-height: 34px;
			text-align: center;
		}
		.top .cart:hover{
		background-color: #fff;
		}
		.top .cart:hover a{
		color: #ff6700;
		}
		.top .cart i{
		font-size: 20px;
		}
		.top .cart span{
		display: inline-block;
		vertical-align: 3px;
		}
		.user-info .info-list-item{
		float: left;
		text-align: center;
		line-height: 34px;
		}
		.box{
			transition: box-shadow 0.2s,transform 0.2s;
		}
		.box:hover{
			box-shadow: 0 10px 10px rgba(0,0,0,0.2);
			transform: translateY(-3px);
		}
/* 部分2开始 */
	.header{
		/*height: 100px;*/
		}
		.header .logo{
			float: left;
			width: 55px;
			height: 55px;
			margin-top: 22px;
		}
		.header .header-nav{
			float: left;
			width: 661px;
			height: 100px;
			line-height: 100px;
			margin-left: 179px;
		}
		.header .header-nav .header-nav-item{
			float: left;
			margin-right: 20px;
		}
		.header .header-nav .header-nav-item a{
			font-size: 16px;
			color:#333;	
		}
		.header .header-nav .header-nav-item a:hover{
			color:#ff6700;	
		}
		.header .search{
			float: right;
			width: 295px;
			height: 50px;
			margin-top: 25px;
			position: relative;
		}
		.header .search input{
			float: left;
			width: 243px;
			height: 50px;
			outline: none;
			border: 1px solid #e0e0e0;
			box-sizing: border-box;
			border-right: none;
			padding-left: 10px;
		}
		.header .search:hover input,
		.header .search:hover span{
			border-color: #999;
		}
		.header .search input:focus ~ .search-list{
			display: block;
		}
		.header .search input:focus,
		.header .search input:focus ~ .search-btn{
			border-color: #ff6700;
		}
		.header .search input:focus ~ .search-hot{
			display: none;
		}
		.header .search>span{
			float: left;
			width: 52px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			border: 1px solid #e0e0e0;
			box-sizing: border-box;
			font-size: 24px;
			color:#616161;
		}
		.header .search>span:hover{
			background-color: #ff6700;
			color:#fff;
			border:none;
			cursor: pointer;
		}
		.header .search .search-hot{
			position: absolute;
			font-size: 12px;
			color:#757575;
			line-height: 16px;
			text-align:center;
		}
		.header .search .search-hot div:hover{
			position: relative;
			background-color: #ff6700;
			color: #fff;
		}
		.header .search .search-hot .hot-1{
			position: absolute;
			top:16px;
			left: 127px;
			width: 41px;
			height: 18px;
			background-color: #eee;

		}
		.header .search .search-hot .hot-2{
			position: absolute;
			top:16px;
			left: 173px;
			width: 60px;
			height: 18px;
			background-color: #eee;
		}
		.header .search .search-list{
			display: none;
			position: absolute;
			top: 50px;
			left: 0px;
			width:244px;
			z-index: 1;
			background-color: #fff;
			border: 1px solid #ff6700;
			box-sizing: border-box;
			border-top: none;
		}
		.header .search .search-list li{
			padding-left: 15px;
		}
		.header .search .search-list li:hover{
			background-color: #eee;
		}
		.header .search .search-list a{
			line-height: 24px;
			color:#333;
		}
/* 部分3开始 */
	.home{
		padding-bottom: 42px;
		}
		.home .banner{
			height: 460px;
			background-color: pink;
			position: relative;
		}
		.home .banner .cate{
			position: absolute;
			top: 0px;
			left: 0px;
			width: 234px;
			height: 100%;
			background-color: rgba(0,0,0,0.5);
			z-index: 10;
		}
		.home .banner .cate ul{
			padding: 20px 0px;
		}
		.home .banner .cate ul li{
			height: 42px;
			padding-left: 30px;
			padding-right: 20px;
			line-height: 42px;
		}
		.home .banner .cate ul li:hover{
			background-color: #ff6700;
		}
		.home .banner .cate ul li a{
			font-size: 14px;
			color: #fff;
		}
		.home .banner .cate ul li a i{
			float: right;
		}
		.home .banner .carousel{
			position: relative;
			width: 1226px;
			height: 460px;
		}
		.home .banner .carousel .carousel-imgs li{
			position: absolute;
			top: 0px;
			left: 0px;
		}
		.home .banner .carousel .carousel-imgs img{
			width: 1226px;
			height: 460px;
		}
		.home .banner .carousel .btn{
			position: absolute;
			top: 50%;
			margin-top: -35px;
			width: 41px;
			height: 69px;
			line-height: 69px;
			text-align: center;
			font-size: 30px;
			color: #757575;
		}
		.home .banner .carousel .btn:hover{
			background-color: rgba(0,0,0,0.5);
			color: #fff;
			cursor: pointer;
		}
		.home .banner .carousel .left-btn{
			left: 234px;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}
		.home .banner .carousel .right-btn{
			right: 0px;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}
		.home .banner .carousel .carousel-btns{
			position: absolute;
			bottom: 25px;
			right: 35px;
		}
		.home .banner .carousel .carousel-btns li{
			float: left;
			width: 10px;
			height: 10px;
			box-sizing: border-box;
			border-radius: 50%;
			background-color: #757575;
			margin-left: 10px;
			border: 2px solid #a3adb6;
		}
		.home .banner .carousel .carousel-btns li:hover{
			background-color: #e3f4fe;
			border-color: #889298;
		}
		.home .hot{
			height: 170px;
			margin-top: 14px;
			margin-bottom: 14px;
		}
		.home .hot .hot-left{
			height: 100%;
			background-color: #5f5750;
		}
		.home .hot .hot-left li{
			width: 78px;
			height: 85px;
			box-sizing: border-box;
			float: left;
			text-align: center;
			position: relative;
		}
		.home .hot .hot-left .shu-line:after{
			content: '';
			display: block;
			width: 1px;
			height: 70px;
			background-color: #665e57;
			position:absolute; 
			top:5px;
			right: 0px;
		}
		.home .hot .hot-left .heng-line:before{
			content: '';
			display: block;
			width: 63px;
			height:1px;
			background-color: #665e57;
			position:absolute; 
			top:0px;
			right: 10px;
		}
		.home .hot .hot-left li:hover a{
			color: #fff;
		}
		.home .hot .hot-left li i{
			display: block;
			font-size: 30px;
			margin-top: 20px;
		}
		.home .hot .hot-left li a{
			font-size: 10px;
		}
		.home .hot .hot-right{
			height: 100%;
		}
		.home .hot .hot-right .hot-item{
			float: left;
			width: 316px;
			height: 170px;
			margin-right:15px; 
		}
		.home .hot .hot-right .hot-item img{
			width: 100%;
			height: 100%;
		}
		.home .hot .hot-right .hot-item:nth-child(3){
			margin-right: 0px;
		}
		.home .flash .bd .bd-left{
			height: 340px;
			background-color: #f1eded;
			text-align: center;
			border-top: 1px solid #e53935;
		}
		.home .flash .bd .bd-left .timer-name{
			margin-top: 60px;
			color: #ef3a3b;
			font-size: 20px;
			margin-bottom: 30px;
		}
		.home .flash .bd .bd-left .timer-desc{
			font-size: 14px;
			color: #6f6d6d;
			margin-top: 34px;
		}
		.home .flash .bd .bd-left .timer-time{
			margin-top: 30px;
		}
		.home .flash .bd .bd-left .timer-time .timer-num{
			width: 46px;
			height: 46px;
			background-color: #605751;
			text-align: center;
			line-height: 46px;
			color: #fff;
			font-size: 18px;
		}
		.home .flash .bd .bd-left .timer-time .timer-dash{
			font-size: 24px;
		}
		/*.home .flash .bd .product-list>li{
			width: 243px;
			height: 340px;
			margin-left: 14px;
			background-color: red;
		}*/
		.home .flash .bd .product-list>li{
			box-sizing: border-box;
		}
		.home .flash .bd .product-list>li:nth-child(1){
			margin-left: 0px;
			border-top: 1px solid yellow;
		}
		.home .flash .bd .product-list>li:nth-child(2){
			border-top: 1px solid blue;
		}
		.home .flash .bd .product-list>li:nth-child(3){
			border-top: 1px solid tomato;
		}
		.home .flash .bd .product-list>li:nth-child(4){
			border-top: 1px solid green;
		}
/* 部分4开始 */
	.main{
		height: 2136px;
		background-color: #f5f5f5;
		padding-top: 20px;
		}
		.main .phone .bd .bd-img{
			height: 614px;
		}
		.main .phone .bd .bd-img img{
			width: 100%;
			height: 100%;
		}
		.main .phone .bd .bd-list{
			height: 614px;
		}
		.main .elec .more{
			margin-top: 0px;
		}
		.main .elec .bd .bd-img img{
			width: 100%;
			height: 100%;
		}
		.main .elec .bd .bd-list{
			height: 614px;
		}
		.main .elec .bd .bd-list .product-item:last-child{
			/*background-color: #123145;*/
		}
		.main .video{
			margin-top: 20px;
		} 
		.main .video .bd ul{
			width: 1226px;
			height: 285px;
		}
		.main .video .video-item{
			float: left;
			width: 296px;
			height: 285px;
			margin-left: 14px;
			background-color: #fff;
		}
		.main .video .video-item:first-child{
			margin-left: 0px;
		}
		.main .video .video-item .video-img{
			height: 180px;
			position: relative;
		}
		.main .video .video-item .video-img:hover span{
			background-color: #ff6700;
			border-color: #ff6700;
		}
		.main .video .video-item .video-img img{
			width: 100%;
			height: 100%;
		}
		.main .video .video-item .video-img span{
			position: absolute;
			display: inline-block;
			left: 21px;
			bottom: 10px;
			width: 36px;
			height: 24px;
			text-align: center;
			line-height: 20px;
			border:2px solid #fff;
			box-sizing: border-box;
			color: #fff;
			border-radius: 20px;
		}
		.main .video .video-item .video-img span i{
			display: inline-block;
			font-size: 32px;
			vertical-align: 0px;
		}
		.main .video .video-item .video-title{
			margin-top: 34px;
			font-size: 13px;
			text-align: center;
			color: #333;
		}
		.main .video .video-item .video-title:hover{
			color: #ff6700;
		}
		.main .video .video-item .video-desc{
			font-size: 11px;
			color: #b0b0b0;
			margin-top: 10px;
			text-align: center;
		}
/* 部分5开始 */
	.footer{
		height: 284px;
		background-color: #fff;
		}
	.footer .service{
		height: 80px;
		border-bottom: 1px solid #e0e0e0;
		padding: 27px 0px;
		box-sizing: border-box;
	}
	.footer .service .service-item{
		width: 20%;
		height: 25px;
		line-height: 24px;
		text-align: center;
		float: left;
		border-right: 1px solid #e0e0e0;
		box-sizing: border-box;
	}
	.footer .service .service-item:last-child{
		border-right: none;
	}
	.footer .service .service-item a{
		font-size: 16px;
		color: #616161;
		transition: color 0.2s;
	}
	.footer .service .service-item a:hover{
		color: #ff6700;
	}
	.footer .service .service-item a i{
		font-size: 24px;
		vertical-align: -5px;
	}
	.footer .links{
		height: 204px;
		padding: 40px 0px;
	}
	.footer .link-item{
		float: left;
		margin-right: 100px;
	}
	.footer .link-item dt{
		margin-bottom: 20px;
	}
	.footer .link-item dt a{
		font-size: 14px;
		color: #424242;
	}
	.footer .link-item dd{
		margin-bottom: 10px;		
	}
	.footer .link-item dd a{
		font-size: 11px;
		color: #757575;
	}
	.footer .link-item dd a:hover{
		color: #ff6700;
	}

	.footer .link-contact{
		float: right;
		border-left: 1px solid #e0e0e0;
		text-align: center;
		padding-left: 55px;
		padding-right: 55px;
	}
	.footer .link-contact p:nth-child(1){
		font-size: 20px;
		color: #ff6700;
		margin-bottom: 10px;
	}
	.footer .link-contact p:nth-child(2),.footer .link-contact p:nth-child(3){
		font-size: 12px;
		color: #616161;
		margin-bottom: 5px;
	}
	.footer .link-contact>a{
		width: 120px;
		height: 30px;
		margin-top: 15px;
		text-align: center;
		line-height: 28px;
		color:#ff6700; 
		border:1px solid #ff6700;
		box-sizing: border-box;
		display: inline-block;
		transition: color 0.2s,background-color 0.2s;
	}
	.footer .link-contact>a:hover{
		background-color: #ff6700;
		color: #fff;
	}